@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap");

@media screen and (min-width: 320px) and (max-width: 768px) {
  .hello-section {
    padding: 64px 16px 88px 16px;
    &__article {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      &-header {
        display: flex;
        align-items: center;
        flex-direction: column;
        align-content: center;
        justify-content: flex-end;
        width: 212px;
        margin-bottom: 24px;
        &-image {
          height: 96px;
          width: 96px;
          border-radius: 50%;
          border: 16px solid #f6f9fd;
          margin-top: 18px;
        }
        &-cloud {
          display: none;
        }
      }
      &-text {
        margin-bottom: 48px;
        &-title {
          font-family: "Nunito", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 26px;
          line-height: 32px;
          margin-top: 0;
          margin-bottom: 16px;
          text-align: center;
          color: #234361;
          &--blue {
            color: #1070ca;
          }
        }
        &-description {
          font-family: "Nunito", sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 32px;
          text-align: center;
          color: #425a70;
          margin: 0;
          &--link {
            color: #4da8ff;
            font-weight: 700;
          }
        }
      }
      &-button {
        padding: 4px 24px;
        background: #4da8ff;
        color: #fff;
        border-radius: 64px;
        width: 278px;
        height: 48px;
        font-family: "Nunito", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        border: none;
      }
    }
  }
}
