@import "~normalize.css";
@import "modules/_variables.scss";
@import "modules/hero-section.scss";
@import "modules/skills-section.scss";
@import "modules/projects-section.scss";
@import "modules/contact-section.scss";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}