@import "~normalize.css";
@import "modules/hello.scss";
@import "modules/hello-section.scss";

body {  
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

html{
  box-sizing: border-box;
}
